package cuckoofilter_test

import (
	"testing"

	"github.com/pierrec/go-cuckoofilter"
)

func Benchmark64Insert{{.Name}}(b *testing.B) {
	j, n := 0, len(data)
	f := cuckoofilter.New64{{.Name}}(uint(n))
	for i := 0; i < b.N; i++ {
		f.Insert(data64[j])
		if j++; j == n {
			j = 0
		}
	}
}

func Benchmark64Has{{.Name}}(b *testing.B) {
	f := *fullFilter64{{.Name}}
	j, n := 0, f.Len()
	for i := 0; i < b.N; i++ {
		f.Has(data64[j])
		if j++; j == n {
			j = 0
		}
	}
}

func BenchmarkInsert{{.Name}}(b *testing.B) {
	j, n := 0, len(data)
	f := cuckoofilter.New{{.Name}}(uint(n))
	for i := 0; i < b.N; i++ {
		f.Insert(data[j])
		if j++; j == n {
			j = 0
		}
	}
}

func BenchmarkHas{{.Name}}(b *testing.B) {
	f := *fullFilter{{.Name}}
	j, n := 0, f.Len()
	for i := 0; i < b.N; i++ {
		f.Has(data[j])
		if j++; j == n {
			j = 0
		}
	}
}
